* {
  margin: 0;
  padding: 0;

}

body {
  max-width: 58rem;
  background-color: #000000;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  height: 100vh;

  font-family: 'Roboto', sans-serif;
  margin: 0 auto auto;

}

.button-add {
  width: 2rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  isolation: isolate;
  position: relative;

  width: 100%;
}

header h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 15px;
  gap: 10px;

/*  width: 390px;*/
  height: 3rem;

  background: #ffffff;
  border-radius: 20px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 82px;

  color: #000000;
}

header #logo {
  position: absolute;
  width: 14%;
  left: 10px;
  top: 10px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;

  width: 100%;
}

main aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 28px;

  width: 28%;

}

main aside form {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 1rem;
  gap: .5rem;
  width: 86%;

  background: #8805cf;
  box-shadow: -4px 4px 4px rgba(136, 0, 255, 0.5);
  border-radius: 41px;
}

main aside form h2 {
  display: grid;
  /* width: 100%; */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;

  text-align: center;

  color: #ffffff;

}

main aside form h2::after {
  content: "";
  display: grid;
  padding: .1rem;
  margin-top: -.5rem;
  /* transform: rotate(-0.16deg); */
}

main aside form input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 100%;
  height: 2rem;

  background: #ffffff;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  border: none;
}

main aside form select {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 100%;
  height: 2rem;

  background: #ffffff;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  border: none;
}

/* all */
main aside form select::-webkit-input-placeholder {
  /* Webkit */
  color: #000000;
}

main aside form select:-moz-placeholder {
  /* Firefox 18-4 */
  color: #000000;
}

main aside form select::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000;
}

main aside form select:-ms-input-placeholder {
  /*  IE10+  */
  color: #000000;
}

/* all */
main aside form input::-webkit-input-placeholder {
  /* Webkit */
  color: #000000;
}

main aside form input:-moz-placeholder {
  /* Firefox 18-4 */
  color: #000000;
}

main aside form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000;
}

main aside form input:-ms-input-placeholder {
  /*  IE10+  */
  color: #000000;
}

main aside form button {
  background-color: transparent;
  border: none;
}
main aside form button img {
  width: 2rem;
}

#token {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: .5rem;

  width: 28%;
}

#token #new-token {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 1rem;
  gap: 10px;
  isolation: isolate;
  position: relative;

  background: #000000;
  border-radius: 10px;
}

#token #new-token input {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 48px;
  text-align: center;

  width: 94%;
  height: 2rem;
}

#token #new-token button {
  background-color: transparent;
  border: none;

  position: absolute;
  width: 1rem;
  right: 0px;
  top: calc(50% - 1rem);
}

#token #new-token button img {
  width: 2rem;
}

#form-cookie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 5px;

  width: 90%;

  background: #8805cf;
  box-shadow: -4px 4px 4px rgba(136, 0, 255, 0.5);
  border-radius: 41px;
}

#form-cookie .header-form-cookie {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;



  text-align: center;
}

#form-cookie .header-form-cookie h2 {
  font-family: 'Roboto', sans-serif;  
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #FFFFFF;
}

#form-cookie .header-form-cookie h2::after {
  content: "";
  display: grid;
  padding: .1rem;
  margin-top: -.5rem;
}

#form-cookie .header-form-cookie input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  padding: 0px;

  width: 100%;
  height: 3rem;

  background: #FFFFFF;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
/*  line-height: 42px;*/
  display: flex;
  align-items: center;
  text-align: center;

}

#form-cookie .header-form-cookie button {
  background-color: transparent;
  border: none;
}

#form-cookie .header-form-cookie button img {
  width: 2rem;
  cursor: pointer;
}

#form-cookie .check-amount-cookies {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0px;
  gap: 10px; */

  background-color: transparent;
  border: none;

  width: 80%;

  background: #ffffff;
/* 
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 36px;
  text-align: center; */

  color: #000000;
}

#modos {
  display: flex;
  flex-direction: column;
  gap: 1.10rem;
  width: 28%;
}

#modos h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;

  color: #FFFFFF;
}

#modos img {
  cursor: pointer;
  width: 2rem;
}

#modos .box-modos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 20px;
  gap: 0.4rem;

  background: #ffffff;
}

#modos .box-modos .box-modos-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

/*  height: 472px;*/
}

#modos .box-modos .box-modos-line label {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;

  color: #000000;
}

#modos .box-modos .box-modos-line input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
/*  gap: 10px;*/

  width: 70%;
  height: 1.2rem;

  background: #D9D9D9;
  border: 1px solid #000000;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: .8rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.web-proxy {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 1rem;
}

.web-proxy form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 100%;

  background-color: transparent;
  box-shadow: none;

}

.web-proxy input {
  height: 2rem;

  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: .8rem;
  line-height: 48px;
  text-align: center;

  color: #000000;
}

.web-proxy button {
  background-color: transparent;
  border: none;
}

.web-proxy button img {
  cursor: pointer;
}

.terminal h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
/*  line-height: 61px;*/
  /* identical to box height */


  color: #FFFFFF;
}

.terminal textarea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;

/*  width: 461px;*/
  height: 1rem;

  background: #FFFFFF;

  font-family: 'Consolas';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;

  color: #ffffff;
}

#console {
  color: white
}